@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Ingresa tu nombre</h2>

<form action="/Home/Saludo" method="post">
    <input type="text" name="nombre" placeholder="Tu nombre" />
    <input type="submit" value="Enviar" />
</form>

@if (ViewBag.Mensaje != null)
{
    <p>@ViewBag.Mensaje</p>
}
